 # Byte-compiled / optimized / DLL files
 __pycache__/
 *.py[cod]
 *$py.class

 # Virtual environment
 .venv/
 .venv
 env/
 venv/
 ENV/

 # Distribution / packaging
 build/
 dist/
 *.egg-info/
 .eggs/

 # Logs
 *.log

 # macOS
 .DS_Store

 # Temporary certificates
 tmp*.pem

 # Media output directories
 output/
 output_mp3/

 # Flask instance folder
 instance/

 # IDEs and editors
 .vscode/
 .idea/

 # Other temporary files
 *.swp
 *~
output_mp3
__pycache__
